[submodule "ext/godot-cpp"]
	path = ext/godot-cpp
	url = https://github.com/GodotNativeTools/godot-cpp
[submodule "ext/godot_headers"]
	path = ext/godot_headers
	url = https://github.com/GodotNativeTools/godot_headers
